/* styles.css */
.gm-style .gmnoprint,
.gm-style .gm-style-cc,
.gm-style .gmnoprint a,
.gm-style .gmnoprint div,
.gm-style .gmnoprint span {
  display: none !important;
}
.smallLogo img[alt=Google] {
  width: 67% !important;
  height: auto;
}
